{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        {% block title %}
        {{ page_title|default:"Contact" }}
        {% endblock title %}
    </title>
    <meta name="description" content="HSE Locations in Ireland">
    <meta name="keywords" content="">
    <meta name="author" content="Francisc Furdui"><!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tailwindcss/ui@latest/dist/tailwind-ui.min.css" />
    <link rel="stylesheet" href={% static "css/styles.min.css" %} type="text/css" />
    <link rel="stylesheet" href={% static "css/main.css" %} type="text/css" />
    <link rel="shortcut icon" href={% static "img/logo/hse-logo.ico" %} type="image/ico" />
    <script type="text/javascript" src={% static "javascript/main.js" %}></script>
</head>

<body>

{% include "header.html" %}

{% include "footer.html" %}

</body>
</html>