{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        {% block title %}
        {{ page_title|default:"Contact" }}
        {% endblock title %}
    </title>
    <meta name="description" content="HSE Locations in Ireland">
    <meta name="keywords" content="">
    <meta name="author" content="Francisc Furdui"><!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tailwindcss/ui@latest/dist/tailwind-ui.min.css" />
    <link rel="stylesheet" href={% static "css/styles.min.css" %} type="text/css" />
    <link rel="stylesheet" href={% static "css/main.css" %} type="text/css" />
    <link rel="shortcut icon" href={% static "img/logo/hse-logo.ico" %} type="image/ico" />
    <script type="text/javascript" src={% static "javascript/main.js" %}></script>
    <link rel="stylesheet" href={% static "img/media/fontawesome/css/all.css" %} type="text/css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
    {% include "nav.html" %}
    <div class="relative overflow-hidden">
        <div class="max-w-screen-xl mx-auto ">
            <div class="relative z-10 pb-8 sm:pb-16 md:pb-20 lg:max-w-2xl lg:w-full lg:pb-28 xl:pb-32">
                <div class="mt-10 mx-auto max-w-screen-xl px-4 sm:mt-12 sm:px-6 md:mt-16 lg:mt-20 lg:px-8 xl:mt-28">
                    <div class="sm:text-center lg:text-left">
                        <h2
                            class="text-4xl tracking-tight leading-10 font-extrabold text-gray-900 sm:text-5xl sm:leading-none md:text-6xl">
                            Contact
                            <br class="xl:hidden" />
                            <span class="text-indigo-600">Us</span>
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="pb-20 relative block">
        <div class="container mx-auto px-4 lg:pt-24 lg:pb-64">
            <div class="flex flex-wrap mt-12 justify-center">
                <div class="w-full lg:w-3/12 px-4 text-center">
                    <div
                        class="text-gray-900 p-3 w-12 h-12 shadow-md rounded-full bg-white inline-flex items-center justify-center">
                        <i class="fas fa-medal text-xl"></i>
                    </div>
                    <h6 class="text-xl mt-5 font-semibold text-gray-900">
                        Award winning Events
                    </h6>
                    <p class="mt-2 mb-4 text-gray-500">
                        Learn from the best and stay sane balancing family and work.
                    </p>
                </div>
                <div class="w-full lg:w-3/12 px-4 text-center">
                    <div
                        class="text-gray-900 p-3 w-12 h-12 shadow-md rounded-full bg-white inline-flex items-center justify-center">
                        <i class="fas fa-poll text-xl"></i>
                    </div>
                    <h5 class="text-xl mt-5 font-semibold text-gray-900">
                        Increase your activity
                    </h5>
                    <p class="mt-2 mb-4 text-gray-500">
                        We all know it's much easier to do nothing, choose not to.
                    </p>
                </div>
                <div class="w-full lg:w-3/12 px-4 text-center">
                    <div
                        class="text-gray-900 p-3 w-12 h-12 shadow-md rounded-full bg-white inline-flex items-center justify-center">
                        <i class="fas fa-lightbulb text-xl"></i>
                    </div>
                    <h5 class="text-xl mt-5 font-semibold text-gray-900">
                    Interact and Learn
                    </h5>
                    <p class="mt-2 mb-4 text-gray-500">
                        Learn new ways to work out, practice self-distancing.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="relative block py-24 lg:pt-0">
        <div class="container mx-auto px-4">
            <div class="flex flex-wrap justify-center lg:-mt-64 -mt-48">
                <div class="w-full lg:w-6/12 px-4">
                    <div class="relative flex flex-col min-w-0 w-full mb-6 shadow-lg rounded-lg bg-gray-300">
                        <div class="flex-auto p-5 lg:p-10">
                            <h4 class="text-2xl font-semibold">Reach out to us</h4>
                            <p class="leading-relaxed mt-1 mb-4 text-gray-600">
                                Complete the form and send your message. We'll get back to you asap.
                            </p>
                            <form method="post">
                                {% csrf_token %}
                                <div class="relative w-full mb-3 mt-8">
                                    <label class="block uppercase text-gray-700 text-xs font-bold mb-2"
                                        for="full-name">Full Name</label>
                                    {{ form.name|as_crispy_field }}
                                </div>
                                <div class="relative w-full mb-3">
                                    <label class="block uppercase text-gray-700 text-xs font-bold mb-2"
                                        for="email">Email</label>
                                    {{ form.email|as_crispy_field }}
                                </div>
                                <div class="relative w-full mb-3">
                                    <label class="block uppercase text-gray-700 text-xs font-bold mb-2"
                                        for="email">Subject</label>
                                    {{ form.subject|as_crispy_field }}
                                </div>
                                <div class="relative w-full mb-3">
                                    <label class="block uppercase text-gray-700 text-xs font-bold mb-2"
                                        for="message">Message</label>
                                    {{ form.message|as_crispy_field }}
                                </div>
                                <div class="text-center mt-6">
                                    <button
                                        class="bg-gray-900 text-white active:bg-gray-700 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1"
                                        type="submit" style="transition: all 0.15s ease 0s;">
                                        Send Message
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% include "footer.html" %}

</body>

</html>